/* Generell */

body {
	margin: 0;
	padding: 0;
}

main {
	padding: 5px;
}

main p {
	text-align: justify;
}

header {
	padding-top: 10px;
}

.rightbound {
	text-align: right;
}

.centered {
	text-align: center;
}

.grey {
	background-color: rgb(230, 230, 230);
}

.wrapper {
	max-width: 1000px;
	margin: auto;
}

hr{
	color: white;
	border: 0;
}

/* Textumbrueche */

#inhalt p {
	word-wrap: break-word;
	text-align: justify;
	hyphens: auto;
}

strong {
	hyphens: manual;
}

.nobr {
	white-space: nowrap;
}

.persoenliches main {
	display: flex;
	flex-flow: row-reverse;
	justify-content: space-between;
	flex-wrap: wrap;
}

.persoenliches * {
	text-align: left;
}

/* Links */

header a {
	color: rgb(216, 0, 11);
}

main a {
	color: black;
	text-decoration-color: rgb(216, 0, 11);
}

main a:hover {
	color: rgb(216, 0, 11);
}

footer a {
	text-decoration: none;
	color: black;
}

/* Kopfbereich */

#banner {
	max-width: 100%;
	width: auto;
}

#banner_wrapper {
	max-width: 910px;
}

#banner_subtitle {
	max-width: 100%;
	width: auto;
}

#banner #banner_subtitle {
	padding-left: 5px;
	padding-right: 5px;
}

/* Streifen */

div.streifen {
	height: 37px;
	background-image: url(../img/mobile_stripe.svg);
	background-repeat: no-repeat;
	background-size: 100% 37px;
	background-position: center bottom;
	background-color: white;
}

/* Navigationsbereich */

nav {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

nav a {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.2em;
	color: black;
	text-decoration: none;
	line-height: 200%;
	white-space: nowrap;
}

nav a:hover {
	color: rgb(216, 0, 11);
}

.index #index, .soziale-kompetenzen #soziale-kompetenzen, .persoenlichkeitsentwicklung #persoenlichkeitsentwicklung, .coaching-und-beratung #coaching-und-beratung, .bibliodrama #bibliodrama, .persoenliches #persoenliches, .kontakt #kontakt {
	color: rgb(216, 0, 11);
}

/* Homepage */

.index blockquote {
	font-size: 2em;
}

blockquote cite {
	font-size: initial;
	font-style: normal;
}

blockquote {
	font-style: italic;
	font-family: Georgia;
}

/* Slide-Kaesten */

main {
	max-width: 700px;
	margin: auto;
}

div.kasten {
	background-color: rgb(230, 230, 230);
	margin-bottom: 20px;
	width: calc(100%);
	padding-top: 0px;
	border-radius: 10px;
}

p.blocksatz, #kastenbereich, button.accordion, div.accordion {
	text-align: justify;
}

/* Fussbereich */

footer {
	width: 100% - 16px;
	padding: 8px;
	padding-bottom: 15px;
	overflow: auto;
}

footer a {
	font-weight: normal;
}

div.lf {
	float: left;
	max-width: 50%;
}

div.rf {
	float: right;
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 20px;
}

img.icon {
	width: 50px;
	height: 50px;
	border: none;
}

/* slider functioality */

.accordion {
	cursor: pointer;
	transition: 0.6s;
}

.accordion, div.panel.show {
	padding: 10px;
}

div.panel {
	max-height: 0;
	transition: 0.6s ease-in-out;
	opacity: 0;
	overflow: hidden;
}

div.panel.show {
	opacity: 1;
	max-height: 500px;
}

button.accordion:after, div.accordion:after {
	content: ' mehr';
	font-weight: bold;
	color: rgb(216, 0, 11);
	float: right;
	margin-left: 5px;
}

button.accordion.active:after, div.accordion.active:after {
	content: ' weniger';
}

/* styles for specific embedded contents */

#double_line_height {
	line-height: 2em;
}

img.portrait {
	width: 200px;
	float: right;
	margin-bottom: 20px;
	margin-left: 20px;
}

#person li {
	line-height: 2em;
}