/* Generell */

* {
	max-width: 100%;
}

html, body, .wrapper {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 1000px;
	margin: auto;
}

main, footer {
	padding: 5px;
}

nav, footer {
	background-color: rgb(230, 230, 230);
	background-image: url(../img/mobile_stripe.svg);
	background-repeat: no-repeat;
	background-size: 100% 37px;
	background-position: center top;
	padding-top: 52px;
	padding-bottom: 20px;
}

/* Kopfbereich */

header {
	padding-top: 10px;
	text-align: right;
}

header div {
	max-width: 910px;
}

/* Navigationsleiste */

nav {
	text-align: center;
	line-height: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

nav a {
	padding-left: 35px;
	padding-right: 35px;
	font-size: 1.2em;
	color: black;
	text-decoration: none;
	line-height: 200%;
	white-space: nowrap;
}

nav a:hover {
	color: rgb(216, 0, 11);
}

.index a#index, .soziale-kompetenzen a#soziale-kompetenzen, .persoenlichkeitsentwicklung a#persoenlichkeitsentwicklung, .coaching-und-beratung a#coaching-und-beratung, .bibliodrama a#bibliodrama, .persoenliches a#persoenliches, .kontakt a#kontakt {
	color: rgb(216, 0, 11);
}

/* Inhaltsbereich */

main {
	max-width: 700px;
	margin: auto;
}

main p {
	text-align: justify;
}

main ul {
	padding: 15px;
}

main blockquote {
	font-style: italic;
	font-family: Georgia;
}

main blockquote cite {
	font-size: initial;
}

main hr {
	color: white;
	border: 0;
}

/* Fußbereich */

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Textumbrueche */

main p {
	word-wrap: break-word;
	text-align: justify;
	hyphens: auto;
}

main strong {
	hyphens: manual;
}

/* Seitenspezifisches */

.index main p {
	text-align: center;
	line-height: 2em;
}

.index blockquote p {
	font-size: 2em;
	line-height: 1;
}

/*
.persoenliches main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: right;
	align-items: flex-end;
}
*/

.persoenliches main a {
	color: rgb(216, 0, 11);
}

.persoenliches main div {
	max-width: 485px;
	margin: auto;
}

.persoenliches img {
	width: 250px;
	float: right;
	position: relative;
	left: 250px;
	margin-left: -250px;
}

/* Links */

main a {
	color: black;
	text-decoration-color: rgb(216, 0, 11);
}

main a:hover {
	color: rgb(216, 0, 11);
}

footer a {
	text-decoration: none;
	color: black;
}

/* Slide-Kaesten */

div.kasten {
	background-color: rgb(230, 230, 230);
	margin-bottom: 20px;
	width: calc(100%);
	padding-top: 0px;
	border-radius: 10px;
}

div.kasten * {
	text-align: justify;
}

.accordion {
	cursor: pointer;
	transition: 0.6s;
}

.accordion, div.panel.show {
	padding: 10px;
}

div.panel {
	max-height: 0;
	transition: 0.6s ease-in-out;
	opacity: 0;
	overflow: hidden;
}

div.panel.show {
	opacity: 1;
	max-height: 500px;
}

button.accordion:after, div.accordion:after {
	content: ' mehr';
	font-weight: bold;
	color: rgb(216, 0, 11);
	float: right;
	margin-left: 5px;
}

button.accordion.active:after, div.accordion.active:after {
	content: ' weniger';
}
