<header>
	<div>
		<img src="../img/mobile_banner.svg" alt="Storywork">
	</div>
	<img src="../img/mobile_subtitle.svg" alt="Menschen bewegen mit Geschichten">
	<nav>
		<a href="../" id="index">
			Home
		</a>
		<a href="../berufliche-kompetenzen" id="berufliche-kompetenzen">
			Berufliche Kompetenzen
		</a>
		<a href="../persoenlichkeitsentwicklung" id="persoenlichkeitsentwicklung">
			Persönlichkeitsentwicklung
		</a>
		<a href="../coaching-und-beratung" id="coaching-und-beratung">
			Coaching / Beratung
		</a>
		<a href="../bibliodrama" id="bibliodrama">
			Bibliodrama
		</a>
		<a href="../persoenliches" id="persoenliches">
			Persönliches
		</a>
		<a href="../kontakt" id="kontakt">
			Kontakt
		</a>
	</nav>
</header>