<header>
	<div id="banner_wrapper">
		<div class="rightbound">
			<img src="../img/mobile_banner.svg" alt="Storywork" id="banner" />
		</div>
	</div>
	<div class="rightbound">
		<img src="../img/mobile_subtitle.svg" alt="Menschen bewegen mit Geschichten" id="banner_subtitle" />
	</div>
	<div class="grey">
		<div class="streifen"> </div>
		<nav class="centered">
			<a href="../" id="index">
				Home
			</a>
			<a href="../soziale-kompetenzen" id="soziale-kompetenzen">
				Soziale Kompetenzen
			</a>
			<a href="../persoenlichkeitsentwicklung" id="persoenlichkeitsentwicklung">
				Persönlichkeitsentwicklung
			</a>
			<a href="../coaching-und-beratung" id="coaching-und-beratung">
				Coaching / Beratung
			</a>
			<a href="../bibliodrama" id="bibliodramalink">
				Bibliodrama
			</a>
			<a href="../persoenliches" id="persoenliches">
				Persönliches
			</a>
			<a href="../kontakt" id="kontakt">
				Kontakt
			</a>
		</nav>
	</div>
</header>