---
layout: page
---

<div id="index">
  {{ content }}
</div>
<br>
<br>
<div id="kastenbereich">
  <!--TODO 3x-->
  <div class="kasten">
    <div class="accordion">
      In den <strong>Seminaren zur Beruflichen Fort&shy;bildung </strong>arbeiten die Teil&shy;nehmer unter anderem mit <span style="text-decoration: underline;">Beispiel&shy;ge&shy;schichten zu beruflichen Situationen</span>.
    </div>
    <div class="panel">
      Sie analysieren z. B. eine Konflikt&shy;geschichte und entwickeln Szenarien, wie die Geschichte sich
      lösungsorientiert weiter entwickeln ließe. Sie analysieren den "inneren Film", der im Kopf eines gestressten Teamleiters abläuft oder im Kopf einer älteren Angestellten, die auf ihre
      Berufsbiographie zurückblickt. Auf welche Weise lässt sich dieser "Film im Kopf" &ndash; also die Geschichte, die wir uns über unser Leben erzählen &ndash; konstruktiv verändern? So dass die Geschichte lebensförderlicher und sinnstiftender wird? Dass sie uns weniger Energie raubt und mit einem besseren Gefühl verbunden ist? Neues lernen und Einstellungen verändern durch die Arbeit mit Geschichten &ndash; das ist anschaulich und konkret, geht unter die Haut, ist wirkungsvoll und macht Spaß!
    </div>
  </div>
  <div class="kasten">
    <div class="accordion">
      In den <strong>Seminaren zur Persönlichkeits&shy;entwicklung</strong> und im <strong>Coaching</strong> arbeiten Menschen an ihren <span style="text-decoration: underline;">eigenen Lebens&shy;geschichten</span>.
    </div>
    <div class="panel">
      Sie schreiben ihre &bdquo;Hader&shy;geschichten&ldquo; auf und überprüfen ihre gewohnten Verhaltens&shy;muster und die damit verbundenen Gefühle. Auf spielerische Weise entwerfen sie dann neue Geschichten, in denen sie mit ihrem Problem ein wenig konstruktiver umgehen. Sie arbeiten auch an den Einstellungen und &bdquo;Glaubenssätzen&ldquo;, die hinter einer Geschichte stehen. Und schließlich entwickeln sie ein neues Drehbuch, das ihnen mehr Entfaltung und Lebens&shy;freude ermöglicht.
    </div>
  </div>
  <div class="kasten">
    <div class="accordion">
      Im <strong>Bibliodrama </strong>lassen sich Menschen auf alte, überlieferte <span style="text-decoration: underline;">Weisheits&shy;geschichten</span> ein.
    </div>
    <div class="panel">
      In der Regel eine Befreiungs&shy;geschichte oder eine Heilungs&shy;geschichte aus der
      jüdisch-christlichen Tradition, eine biblische oder rabbinische Geschichte. Dabei geht es um ganz persönliche Lebens&shy;fragen: Wer könnte ich sein, wenn ich die Welt und mein Leben so betrachten würde, wie die Hauptfigur in dieser alten Geschichte? Was würde dann in meinem Alltag anders laufen? Durch Identifikation, szenisches Spiel und Kör&shy;perarbeit machen die Teilnehmer neue Erfahrungen. Sie spielen sich in eine neue lebens&shy;werte Wirklichkeit hinein.
    </div>
  </div>
  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function () {
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
      }
    }
  </script>
</div>