<!DOCTYPE html>
<html lang="de">

{%- include head.html -%}

<body>
  <div class="wrapper {{ page.path | replace: '.html', '' | replace: '.md', '' | replace: '/index', '' }}">
    {%- include header.html -%}

    <main>
      <div class="editable">
        <div id="index" class="editable">
          <blockquote>
            <p>Ich probiere Geschichten an wie Kleider.</p>
            <p><cite>Max Frisch</cite></p>
          </blockquote>
          <hr />
          <p>Eine Geschichte &ldquo;anprobieren&rdquo;,</p>
          <p>erleben und sp&uuml;ren, wie es sich darin anf&uuml;hlt.</p>
          <p>Einige Schritte darin machen wie in einem neuen Kleid.</p>
          <p>Andere fragen, wie es mir steht &hellip;</p>
          <p>Ein spielerischer und experimenteller Umgang mit Geschichten.</p>
          <p>Neue Standpunkte einnehmen.</p>
          <p>Neue Rollen ausprobieren.</p>
          <p>Neue Perspektiven wahrnehmen.</p>
          <p>Neue Handlungsm&ouml;glichkeiten entdecken.</p>
          <p>Neue Wege zu Probleml&ouml;sungen kennen lernen.</p>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div id="kastenbereich">
          <!--base32-ah7m8kt06dw0-base32-->
          <div class="kasten">
            <div class="accordion">In den <strong>Seminaren zur Beruflichen Fort&shy;bildung </strong>arbeiten die Teil&shy;nehmer unter anderem mit <span style="text-decoration: underline;">Beispiel&shy;ge&shy;schichten zu beruflichen Situationen</span>.</div>
            <div class="panel">Sie analysieren z. B. eine Konflikt&shy;geschichte und entwickeln Szenarien, wie die Geschichte sich l&ouml;sungsorientiert weiter entwickeln lie&szlig;e. Sie analysieren den "inneren Film", der im Kopf eines gestressten Teamleiters abl&auml;uft oder im Kopf einer &auml;lteren Angestellten, die auf ihre Berufsbiographie zur&uuml;ckblickt. Auf welche Weise l&auml;sst sich dieser "Film im Kopf" &ndash; also die Geschichte, die wir uns &uuml;ber unser Leben erz&auml;hlen &ndash; konstruktiv ver&auml;ndern? So dass die Geschichte lebensf&ouml;rderlicher und sinnstiftender wird? Dass sie uns weniger Energie raubt und mit einem besseren Gef&uuml;hl verbunden ist? Neues lernen und Einstellungen ver&auml;ndern durch die Arbeit mit Geschichten &ndash; das ist anschaulich und konkret, geht unter die Haut, ist wirkungsvoll und macht Spa&szlig;!</div>
          </div>
          <div class="kasten">
            <div class="accordion">In den <strong>Seminaren zur Pers&ouml;nlichkeits&shy;entwicklung</strong> und im <strong>Coaching</strong> arbeiten Menschen an ihren <span style="text-decoration: underline;">eigenen Lebens&shy;geschichten</span>.</div>
            <div class="panel">Sie schreiben ihre &bdquo;Hader&shy;geschichten&ldquo; auf und &uuml;berpr&uuml;fen ihre gewohnten Verhaltens&shy;muster und die damit verbundenen Gef&uuml;hle. Auf spielerische Weise entwerfen sie dann neue Geschichten, in denen sie mit ihrem Problem ein wenig konstruktiver umgehen. Sie arbeiten auch an den Einstellungen und &bdquo;Glaubenss&auml;tzen&ldquo;, die hinter einer Geschichte stehen. Und schlie&szlig;lich entwickeln sie ein neues Drehbuch, das ihnen mehr Entfaltung und Lebens&shy;freude erm&ouml;glicht.</div>
          </div>
          <div class="kasten">
            <div class="accordion">Im <strong>Bibliodrama </strong>lassen sich Menschen auf alte, &uuml;berlieferte <span style="text-decoration: underline;">Weisheits&shy;geschichten</span> ein.</div>
            <div class="panel">In der Regel eine Befreiungs&shy;geschichte oder eine Heilungs&shy;geschichte aus der j&uuml;disch-christlichen Tradition, eine biblische oder rabbinische Geschichte. Dabei geht es um ganz pers&ouml;nliche Lebens&shy;fragen: Wer k&ouml;nnte ich sein, wenn ich die Welt und mein Leben so betrachten w&uuml;rde, wie die Hauptfigur in dieser alten Geschichte? Was w&uuml;rde dann in meinem Alltag anders laufen? Durch Identifikation, szenisches Spiel und K&ouml;r&shy;perarbeit machen die Teilnehmer neue Erfahrungen. Sie spielen sich in eine neue lebens&shy;werte Wirklichkeit hinein.</div>
          </div>
          <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            for (i = 0; i < acc.length; i++) {
              acc[i].onclick = function () {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
              }
            }
          </script>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </main>

    {%- include footer.html -%}
  </div>
</body>

</html>